/*BadFiles.html*/
body {
    background-color: #FFF;
}

#Content {
    margin: 5% 4%;
}

.listBox {
    padding: 2%;
    background-color: #FFF;
    min-height: 800px
}

li {
    display: list-item !important;
    list-style-position: inside;
}

.left {
    float: left;
    width: 45%;
    vertical-align: middle;
}

.right {
    float: right;
    width: 45%;
    vertical-align: middle;
}

.listitem {
    float: left;
}

.listitem:hover {
    background-color: none
}