{% extends 'sitetemplate.html' %} 
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock%}
{% block body %}
	<div class='subcontent'>
		<div class='left groupSet'>
			<h2> Groups </h2>
			<ul>
			{% for group in data %}
			    <li class='listitem'><a href=../group/{{ group }}>{{ group }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div class='right sampleSet'>
			<ul>
			<h2> {{ group_folder }}</h2>
			{% for sampleset in sampledata %}
			    <li class='listitem'>
			    	<a class='sample_entry' href=../sample/{{ sampleset.url }}>{{ sampleset.sample_name }}</a>
			    	<span class='sample_owner'> {{ sampleset.owner }}</span>
			    </li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}