{% extends 'sitetemplate.html' %} 
{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
{% endblock%}
{% block body %}
	<div class='subcontent'>
		<div class='header borderBottom'>Showing search results for <span class='highlight'>{{ query}}</span></div>
		<div id='searchResults'>
			<div class='borderBottom'>
			<div class='subheader'>Groups</div>
				<ul>
				{% for g in group %}
				    <li class='listitem'><a href=/{{g}}>{{ g }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div>
			<div class='subheader'>Samples</div>
				<ul>
				{% for s in sampleset %}
				    <li class='listitem'><a href=/sample/{{s.url}}>{{ s.sample_name }}</a></li>
				{% endfor %}
				</ul>
			</div>

		</div>
	</div>
{% endblock %}